.main-title {
    font-variant: small-caps;
    font-size: 2em;
}

.icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.text {
    display: inline-block;
    vertical-align: top;
}

.sub-detail{
    margin-right: 5px;
}

.sub-detail span:first-child{
    margin-right: 2px;
}