<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Error
<ion-content *ngIf="error.exists">
  <ion-title class="ion-margin-top ion-text-center">Not Found</ion-title>
</ion-content> -->
<!-- {{Result.error.length}} -->
<ion-content [fullscreen]="true" *ngIf="Result && !(Result.error)">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="addToFavourite()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getFromFavourite()">
        <ion-icon name="book"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="clearFav()">
        <ion-icon name="bubbles"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- Header (name, equipment-category) -->
  <ion-card-header>
    <ion-card-title class="main-title"
      >{{Result.name}}
      <span *ngIf="Result.quantity"> ({{Result.quantity}}) </span>
    </ion-card-title>
    <ion-card-subtitle> {{Result.equipment_category.name}} </ion-card-subtitle>
    <ion-card-subtitle>
      <!-- Basic info (cost, weigth) -->
      <span class="sub-detail" *ngIf="Result.cost">
        <span class="text">{{Result.cost.quantity}}</span>
        <ion-icon class="icon" src="{{coinUrl}}"></ion-icon>
      </span>
      <span class="sub-detail" *ngIf="Result.weight">
        <span class="text">{{Result.weight}}</span>
        <ion-icon color="dark" src="{{weightIconUrl}}"></ion-icon>
      </span>
    </ion-card-subtitle>
  </ion-card-header>
  <!-- Description (optional) -->
  <ion-card *ngIf="Result.desc && Result.desc.length > 0">
    <ion-card-header>
      <ion-card-title>Description</ion-card-title>
    </ion-card-header>
    <!-- Content of description -->
    <ion-card-content *ngFor="let d of Result.desc">
      <!-- No table -->
      <ion-card-content *ngIf="!isArr(d)"> {{d}} </ion-card-content>
      <!-- Creating table -->
      <ion-grid *ngIf="isArr(d)" class="dTable">
        <!-- Header -->
        <ion-row class="dHeader">
          <ion-col class="dCell" *ngFor="let c of getHeaderFromTable(d)"
            >{{c}}</ion-col
          >
        </ion-row>
        <!-- Rows (ski) -->
        <ion-row class="dRow" *ngFor="let ar of getRowsFromTable(d)">
          <ion-col class="dCell" *ngFor="let s of ar"> {{s}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
